.DS_Store
node_modules/
/dist/
/src/
/static/
/test/
/build/
/config/
/docs/img/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package.json
/README.md
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/src/components/
/packages/theme-default/src/
/packages/theme-default/gulpfile.js
/packages/theme-default/package.json
/packages/theme-default/readme.md
/.gitignore
/index.html
