body{
  padding: 0;
  height: 100%;
  color: #323233;
  margin: 0;
  overflow-x: auto;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  background-color: #f7f8fa;
  -webkit-font-smoothing: antialiased;
}
p, body, h1, h2, h3, h4, h5{
  margin: 0
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}
/* element */
.el-container{
  height: calc(100% - 61px);
}
.el-menu{
  height: 100%;
}
