.el-header{
  border-bottom: 1px solid rgba(0,0,0,.1);
  background-color: #001938;
}
.header-model{
  height: 60px;
  line-height: 60px;
  .info{
    display: inline-block;
    font-size: 22px;
    color: #5a96ec;
    font-weight: normal;
  }
}
