.csCheckbox {
  position: relative;
  display: flex;
  flex-direction: row;
  .csCheckbox-iconBox {
    position: relative;
    min-height: 0.4rem;
    min-width: 0.4rem;
    .csCheckbox-icon {
      position: absolute;
      font-size: 0.4rem;
      color: #c8c9cc;
    }
    .csCheckbox-icon-disabled {
      color: #ebedf0;
    }
    .csCheckbox-active {
      .csCheckbox-icon {
        color: var(--color);
      }
      .csCheckbox-icon-disabled {
        color: #ebedf0;
      }
    }
    img {
      position: absolute;
      width: 0.4rem;
      height: 0.4rem;
    }
  }
  .csCheckbox-content {
    flex: 1;
    margin-left: 0.16rem;
    color: #323233;
    line-height: 0.46rem;
  }
  .csCheckbox-line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.02rem;
    background-color: #ebedf0;
  }
}
.csCheckbox-cell {
  padding: 0.2rem 0.32rem 0.2rem 0;
  .csCheckbox-content {
    order: -3;
  }
}