.csCollapseItem {
  transition-property: height;
  transition-duration: 0s;
  overflow-y: hidden;
  .csCollapseItem-cell {
    position: relative;
    display: flex;
    flex-direction: row;
    transition-property: padding;
    padding: 0.2rem 0.32rem;
    background-color: #fff;
    .csCollapseItem-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-right: 0.1rem;
      >img {
        height: 0.4rem;
        width: 0.4rem;
      }
      >i {
        font-size: 0.32rem;
      }
    }
    .csCollapseItem-title {
      flex: 1;
      .csCollapseItem-titleContent {
        font-size: 0.28rem;
        color: #333;
      }
    }
    .csCollapseItem-value {
      flex: 1;
      text-align: right;
      .csCollapseItem-valueContent {
        font-size: 0.28rem;
        color: #999;
      }
    }
    .csCollapseItem-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 0.1rem;
      >i {
        transform: rotate(270deg);
        transition-property: transform;
        transition-duration: 0.3s;
        font-size: 0.32rem;
        color: #999;
      }
    }
  }
  .csCollapseItem-content {
    position: relative;
    box-sizing: border-box;
    transition-property: all;
    padding: 0.2rem 0.32rem;
    font-size: 0.28rem;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    background-color: #fff;
    color: #999;
  }
  .csCollapseItem-line {
    position: absolute;
    height: 0.02rem;
    left: 0.32rem;
    right: 0;
    bottom: 0;
    background-color: #f3f3f3;
  }
}