* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.3rem;
}
//主题色
:root {
  --color: #1989fa;
  --inactiveColor: #7d7e80;
  --disabledColor: #ebedf0;
}

:root[data-theme='Primary'] {
  --color: #1989fa;
  --inactiveColor: #7d7e80;
  --disabledColor: #ebedf0;
}

:root[data-theme='Success'] {
  --color: #69c23a;
  --inactiveColor: #7d7e80;
  --disabledColor: #ebedf0;
}

:root[data-theme='Warning'] {
  --color: #E6A23C;
  --inactiveColor: #7d7e80;
  --disabledColor: #ebedf0;
}

:root[data-theme='Danger'] {
  --color: #FF2C7D;
  --inactiveColor: #7d7e80;
  --disabledColor: #ebedf0;
}

:root[data-theme='Info'] {
  --color: #909399;
  --inactiveColor: #7d7e80;
  --disabledColor: #ebedf0;
}





//旋转动画
.aniRotate {
  animation-name: aniRotate; /*动画的名称 */
  animation-duration: 800ms; /*动画从开始到结束的时间*/
  animation-timing-function: linear; /*动画执行快慢的参数*/
  animation-iteration-count: infinite; /*动画执行多少次的参数*//*以下是兼容ios所需，参数意义与上相同*/
  -webkit-animation-name: aniRotate;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@keyframes aniRotate {
  /*开始转的角度*/
  from {
    transform: rotate(0deg);
    -webkit-transform:rotate(0deg);
  }
  /*结束的角度*/
  to {
    transform: rotate(359deg);
    -webkit-transform:rotate(359deg);
  }
}
//淡入淡出
.animation-fade-enter-active {
  animation-name: fade-in;
  animation-duration: 0.28s;
}
.animation-fade-leave-active {
  animation-name: fade-out;
  animation-duration: 0.28s;
}
@keyframes fade-in {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 0;
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
  }
}

//淡入淡出-图片预览
.animation-fade-imagePreview-enter-active {
  animation-name: fade-in-imagePreview;
  animation-duration: 0.28s;
}
.animation-fade-imagePreview-leave-active {
  animation-name: fade-out-imagePreview;
  animation-duration: 0.28s;
}
@keyframes fade-in-imagePreview {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 1;
  }
}
@keyframes fade-out-imagePreview {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
