.csImagePreview_list {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; right: 0;
  left:0; bottom: 0;
  .csImagePreview_list_index {
    position: absolute;
    left: 0; right: 0;
    top: 0.2rem;
    text-align: center;
    color: #fff;
    z-index: 2019;
  }
  .csImagePreview_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 7.5rem;
    overflow: auto;
    height: 100%;
    z-index: 499;
    transition-duration: 0.3s;
    transform-style: all;
    img {
      display: block;
      width: 100%;
      object-fit: contain
    }
  }
  .csImagePreview_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 498;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .csImagePreview_close {
    position: absolute;
    right: 0.32rem;
    top: 0.32rem;
    font-size: 0.42rem;
    z-index: 2020;
    color: #ccc;
  }
}