.csNoticeBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0.16rem 0.32rem;
  background-color: #fffbe8;
  overflow: hidden;
  .csNoticeBar-leftIcon {
    >i {
      font-size: 0.32rem;
      color: #ed6a0c;
    }
  }
  .csNoticeBar-content {
    overflow: hidden;
    position: relative;
    flex: 1;
    color: #ed6a0c;
    >span {
      color: #ed6a0c;
      font-size: 0.28rem;
    }
  }
  .csNoticeBar-content-noWarp {
    white-space: nowrap;
    >span {
      float: left;
      display: block;
      line-height: 0.48rem;
    }
  }
  .csNoticeBar-content-noWarpable {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .csNoticeBar-rightIcon {
    >i {
      padding-left: 0.08rem;
      font-size: 0.36rem;
      color: #ed6a0c;
    }
  }
}