.cs_popup {
  .cs_popup-overlay {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .cs_popup-box {
    z-index: 101;
    overflow: hidden;
    background-color: #fff;
  }
  .cs_popup-center {
    box-sizing: border-box;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .cs_popup-round-center {
    border-radius: 0.12rem;
  }
  .cs_popup-round-top {
    border-bottom-left-radius: 0.12rem;
    border-bottom-right-radius: 0.12rem;
  }
  .cs_popup-round-right {
    border-bottom-left-radius: 0.12rem;
    border-top-left-radius: 0.12rem;
  }
  .cs_popup-round-bottom {
    border-top-left-radius: 0.12rem;
    border-top-right-radius: 0.12rem;
  }
  .cs_popup-round-left {
    border-bottom-right-radius: 0.12rem;
    border-top-right-radius: 0.12rem;
  }
  .cs_popup-top {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
  }
  .cs_popup-right {
    position: fixed;
    top: 0; right: 0;
    height: 100%;
  }
  .cs_popup-bottom {
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
  }
  .cs_popup-left {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
  }
}
//center动画效果
.ani-popup-center-enter-active {
  animation-name: popup-fade-in;
  animation-fill-mode: forwards;
}
.ani-popup-center-leave-active {
  animation-name: popup-fade-out;
  animation-fill-mode: forwards;
  animation-duration: 0.28s;
}
@keyframes popup-fade-in {
  0% {
    -webkit-transform: scale3d(0, 0, 0) translate3d(-75%, -75%, 0);
    transform: scale3d(0.5, 0.5, 0.5) translate3d(-75%, -75%, 0);
    opacity: 0;
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
    transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 1;
  }
}
@keyframes popup-fade-out {
  0% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
    transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 1)  translate3d(-55%, -55%, 0);
    transform: scale3d(0.9, 0.9, 1)  translate3d(-55%, -55%, 0);
  }
}

//top动画效果
.ani-popup-top-enter-active {
  animation-name: popup-top-in;
}
.ani-popup-top-leave-active {
  animation-name: popup-top-out;
}
@keyframes popup-top-in {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes popup-top-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}

//right动画效果
.ani-popup-right-enter-active {
  animation-name: popup-right-in;
}
.ani-popup-right-leave-active {
  animation-name: popup-right-out;
}
@keyframes popup-right-in {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes popup-right-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

//bottom动画效果
.ani-popup-bottom-enter-active {
  animation-name: popup-bottom-in;
}
.ani-popup-bottom-leave-active {
  animation-name: popup-bottom-out;
}
@keyframes popup-bottom-in {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes popup-bottom-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}

//left动画效果
.ani-popup-left-enter-active {
  animation-name: popup-left-in;
}
.ani-popup-left-leave-active {
  animation-name: popup-left-out;
}
@keyframes popup-left-in {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes popup-left-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}