.csStepper {
  display: flex;
  flex-direction: row;
  .csStepper-lower {
    position: relative;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    color: #323233;
    vertical-align: middle;
    background-color: #f2f3f5;
    border: 0;
    cursor: pointer;
  }
  .csStepper-lower::before {
    position: absolute;
    width: 40%;
    height: 0.02rem;
    top: 50%;
    left: 50%;
    background-color: #666;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
  }
  .csStepper-content {
    box-sizing: border-box;
    width: 32px;
    height: 28px;
    margin: 0 2px;
    padding: 0;
    color: #323233;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    background-color: #f2f3f5;
    border: 0;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
  }
  .csStepper-add {
    position: relative;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    color: #323233;
    vertical-align: middle;
    background-color: #f2f3f5;
    border: 0;
    cursor: pointer;
  }
  .csStepper-add::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.02rem;
    height: 40%;
    background-color: #666;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
  }
  .csStepper-add::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 0.02rem;
    background-color: #666;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
  }
  .csStepper-lower-disabled {
    color: #c8c9cc;
    background-color: #f7f8fa;
    cursor: not-allowed;
  }
}