.csSwipeCellBox {
  width: 100%;
  overflow-x: hidden;
  .csSwipeCell {
    position: relative;
    width: 100%;
    //overflow: hidden;
    .csSwipeCell_left {
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      transform: translate(-100%, 0);
      z-index: 2;
    }
    .csSwipeCell_center {
      width: 100%
    }
    .csSwipeCell_right {
      position: absolute;
      top: 0; right: 0;
      height: 100%;
      transform: translate(100%, 0);
      z-index: 2;
    }
  }
}