.csTabbarItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.24rem;
  color: #646566;
  transition: color .2s;
  .csTabbarItem_icon {
    position: relative;
    min-width: 0.38rem;
    min-height: 0.38rem;
    .iconfont {
      font-size: 0.38rem;
      margin-bottom: 0.04rem;
      color: #646566;
      transition: color .2s;
    }
    .iconfont-active {
      color: var(--color);
    }
    .csTabbarItem_dot {
      position: absolute;
      top: 0;
      right: -0.08rem;
      height: 0.12rem;
      width: 0.12rem;
      border-radius: 50%;
      background-color: #ee0a24;
    }
    .csTabbarItem_badge {
      box-sizing: border-box;
      position: absolute;
      right: 0; top: 0;
      padding: 0 0.06rem;
      min-width: 0.32rem;
      transform: translateX(60%);
      border-radius: 0.32rem;
      font-size: 0.24rem;
      text-align: center;
      line-height: 0.24rem;
      background-color: #ee0a24;
      color: #fff;
    }
  }
}
.csTabbarItem-active {
  color: var(--color);
}